<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="PrimeroEdgeDev" value="https://pkgs.dev.azure.com/Cybersoft-Technologies-Inc/_packaging/PrimeroEdgeDev/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<PrimeroEdgeDev>
			<add key="Username" value="primerodev" />
			<add key="ClearTextPassword" value="5vsvj5catz2tgixblegmasrlh3kb3tneppdjddvkugsv4dkk6xkq" />
		</PrimeroEdgeDev>
	</packageSourceCredentials>
</configuration>