<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="PrimeroEdgeDev" value="https://pkgs.dev.azure.com/Cybersoft-Technologies-Inc/_packaging/PrimeroEdgeDev/nuget/v3/index.json" />
  </packageSources>
<packageSourceCredentials>
    <PrimeroEdgeDev>
      <add key="Username" value="primerodev" />      
      <add key="ClearTextPassword" value="cqiidm6fwsjb5f2pme634xz2t4mkjfpf6x7gv553bsc5y3tn5mjq" />
    </PrimeroEdgeDev>
  </packageSourceCredentials>
</configuration>