<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="PrimeroEdgeDev" value="https://pkgs.dev.azure.com/Cybersoft-Technologies-Inc/_packaging/PrimeroEdgeDev/nuget/v3/index.json" />
  </packageSources>
<packageSourceCredentials>
    <PrimeroEdgeDev>
      <add key="Username" value="primerodev" />      
      <add key="ClearTextPassword" value="rd3xi7vxm7arnslcqnc6uy5ucrytnihosfocbfgxuryekx6v2eia" />
    </PrimeroEdgeDev>
  </packageSourceCredentials>
</configuration>